/* ===== Global ===== */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(to right, #0b1a2f, #0e223d);
  color: white;
}

/* ===== Centered Layout Wrapper ===== */
.dashboard-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
}


/* ===== Header ===== */
.header {
  background-color: #1e293b;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 40px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.header h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 1px;
}

/* ===== Stats Cards ===== */
.content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 50px;
}


.card {
  flex: 1;
  background-color: #1e293b;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin-bottom: 12px;
  color: #38bdf8;
  font-size: 20px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

/* ===== Tables Layout ===== */
.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr;   /* Logs bigger than Alerts */
  gap: 40px;
  margin-bottom: 60px;
}

.table-row > div {
  background: #12243c;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* ===== Tables Styling ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: center;
}

th {
  color: #38bdf8;
  background-color: #1e293b;
}

tr:hover {
  background-color: #1e293b;
}

/* ===== Severity Badges ===== */
.severity {
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 13px;
}

.severity.low {
  background-color: #2ecc71;
  color: white;
}

.severity.medium {
  background-color: #f1c40f;
  color: black;
}

.severity.high {
  background-color: #e74c3c;
  color: white;
}

/* ===== Charts Layout ===== */
.chart-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.chart-row > div {
  background: #12243c;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
